*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed';
  box-sizing: inherit; }

.navbar {
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar__img--1 {
    height: 80px;
    width: auto;
    margin-left: 20px; }
    @media screen and (min-width: 700px) {
      .navbar__img--1 {
        height: 120px; } }
  .navbar__img--2 {
    height: 80px;
    width: auto;
    margin-right: 20px; }
    @media screen and (min-width: 700px) {
      .navbar__img--2 {
        height: 120px; } }
  @media screen and (min-width: 700px) {
    .navbar {
      height: 150px; } }

@media screen and (min-width: 700px) {
  .dados {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(4, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: repeat(3, min-content); }
  .temporada {
    grid-column: center-start / 2;
    grid-row: 1 / 1; }
  .diretor {
    grid-column: 3 / center-end;
    grid-row: 1 / 1; }
  .escritor {
    grid-column: center-start / 2;
    grid-row: 2 / 2; }
  .nota {
    grid-row: 2 / 2;
    grid-column: 3 / center-end; }
  .data {
    grid-row: 3 / 3;
    grid-column: center-start / 2; }
  .visualizacoes {
    grid-row: 3 / 3;
    grid-column: 3 / center-end; } }

@media screen and (min-width: 1200px) {
  .dados {
    display: grid;
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(6, [col-start] min-content [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-rows: repeat(2, min-content);
    grid-gap: 1.5rem; }
  .temporada {
    grid-column: 2 / 3;
    grid-row: 1 / 1; }
  .diretor {
    grid-column: 4 / 5;
    grid-row: 1 / 1; }
  .escritor {
    grid-column: 6 / 6;
    grid-row: 1 / 1; }
  .nota {
    grid-row: 2 / 2;
    grid-column: 2 / 3; }
  .data {
    grid-row: 2 / 2;
    grid-column: 4 / 5; }
  .visualizacoes {
    grid-row: 2 / 2;
    grid-column: 6 / 6; }
  .temporada:hover,
  .diretor:hover,
  .escritor:hover,
  .nota:hover,
  .data:hover,
  .visualizacoes:hover {
    transform: scale(1.1); } }

.temporada,
.diretor,
.escritor,
.nota,
.data,
.visualizacoes {
  margin-top: 24px;
  text-align: center;
  transition: all .2s; }

.visualizacoes {
  margin-bottom: 24px; }

.titulo {
  font-size: 60px;
  text-transform: lowercase;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  margin-top: 24px; }

.accordion-button:not(.collapsed) {
  color: #777;
  background-color: #F5E641; }

.accordion-item {
  border: none; }

.accordion-body table thead tr th {
  padding: 8px; }
